<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          New Test
        </ion-title>
      </ion-toolbar>
</ion-header>
  
  
<ion-content padding text-center>
    <!--Pre Test Screen-->  
    <div *ngIf="preTest">
      <h2>How hydrated do you feel?</h2>
      <h4>{{hydMsg}}</h4>
      <p>{{desMsg}}</p>
      <ion-item no-lines>
        <ion-range min = "70" max = "110" step = "10" snaps = "true"  [(ngModel)]="perceived_hyd" (ionChange)="updateMsg()" >
          <ion-icon range-left small name="water"></ion-icon>
          <ion-icon range-right name="water"></ion-icon>
        </ion-range>
      </ion-item>
      <ion-button expand="block" (click)="startTest()">Start Test</ion-button>
      <p>or</p>
      <ion-button expand="block" (click)="addResults()">Add Previous Results</ion-button>
    </div>
    <!--New Test Screen-->
    <div *ngIf="newTest">
      <h3>Dip that strip!</h3>
      <h3>Submerge strip in urine for 1-2 s.</h3>
      <h3>Wait 30 s before reading.</h3>
      
      <div padding><br></div>
      <h2>What was the reading?</h2>
      
      <ion-item no-lines>
        <ion-label>{{disSG}}</ion-label>
          <ion-range min = "5" max = "30" [(ngModel)]="sg" (ionChange)="updateSG()" >
            <ion-icon range-left name="square" color="sg-5"></ion-icon>
            <ion-icon range-right name="square" color="sg-30"></ion-icon>
          </ion-range>
      </ion-item>
      <!--<img src="assets/imgs/testChart.png">-->
      
      <ion-button expand="block" (click)="updateDB()">Add Results</ion-button>
    </div>
    <!--Old Test Screen-->
    <div *ngIf="oldTest">
      <h2>When did you test?</h2>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MMM D, YYYY" pickerFormat="MMM D, YYYY" min="2018" [(ngModel)]="myDate"></ion-datetime>
        <div padding><br></div>
      </ion-item>
      <ion-item>
          <ion-label>Time</ion-label>
          <ion-datetime displayFormat="h:mm a" pickerFormat="h:mm a"[(ngModel)]="myTime"></ion-datetime>
          <div padding><br></div>
        </ion-item>
      <h2>What was the reading?</h2>
      <ion-item no-lines>
        <ion-label>{{disSG}}</ion-label>
          <ion-range min = "5" max = "30" [(ngModel)]="sg" (ionChange)="updateSG()" >
            <ion-icon range-left name="square" color="sg-5"></ion-icon>
            <ion-icon range-right name="square" color="sg-30"></ion-icon>
          </ion-range>
      </ion-item>
      <!--<img src="assets/imgs/testChart.png">-->
      <ion-grid>
  
      </ion-grid>
      <ion-button expand="block" (click)="updateDB()">Add Results</ion-button>
    </div>
    
  </ion-content>
  
  