<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Insights
        </ion-title>
      </ion-toolbar>
</ion-header>
<ion-content padding text-center>
    <ion-item>
        <ion-select [(ngModel)]="displayOptions" placeholder="Results" (ionChange)="makeDecision()">
          <ion-select-option value="thisWeek">This Week</ion-select-option>
          <ion-select-option value="lastWeek">Last Week</ion-select-option>
          <ion-select-option value="lastFive">Recent Results</ion-select-option>
        </ion-select>
     </ion-item>
  <div>
    <div style="display: block" *ngIf="showData">
      <canvas baseChart
        [data]="barChartData"
        [datasets]="barChartDataSet"
        [colors]="barChartColors"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  
  <ion-list no-lines>
      <ion-card color="light">
        <div></div> 
          <ion-card-title>
            Tests: {{testCount}}
          </ion-card-title>
          <ion-card-content>
            <div></div>
          </ion-card-content>
      </ion-card>
      <ion-card color="light">
          <div></div>
          <ion-card-title>
            Perceived Hydration: {{pHydAvg}}
          </ion-card-title>
          <ion-card-content>
            <div></div>
          </ion-card-content>
      </ion-card>
      <ion-card color="light">
          <div></div>
          <ion-card-title>
            Average Hydration: {{hydAvg}}
          </ion-card-title>
          <ion-card-content>
            <div></div>
          </ion-card-content>
      </ion-card>
  </ion-list>
  
</ion-content>

