<!--

  Stripe element

-->
  <form action="/charge" method="post" (submit)="handleForm($event)" id="payment-form" class="box">   
    <div class="form-row inline">
      <ion-item>
          <ion-label>Payment Plan</ion-label>
          <ion-select [(ngModel)]="plan" name="plan" placeholder="Payment Plan" required>
              <ion-select-option value="plan_FqC1c5XXho1MVy">Basic</ion-select-option>
              <ion-select-option value="plan_G2i0mBXlsMbVTD">Value</ion-select-option>
            </ion-select>      
      </ion-item>
      
      <ion-grid no-padding *ngIf="false">
        <ion-row no-padding>
          <ion-col size="9">
            <div no-padding>
              <ion-item>
                <ion-label>Coupon</ion-label>
                <ion-input [(ngModel)]="coupon" id="coupon" name="coupon" placeholder="Discount Code"></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col>
            <div no-padding>
              <ion-button expand = "block" (click)="checkDiscount()">Submit</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input [(ngModel)]="name" id="name" name="name" placeholder="Full Name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email Address</ion-label>
        <ion-input [(ngModel)]="email" id="email" name="email" type="email" placeholder="email@example.com" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Phone Number</ion-label>
        <ion-input [(ngModel)]="phoneNumber" id="phone" name="phone" type="phoneNumber" placeholder="(123) 456-7890" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Address</ion-label>
        <ion-input [(ngModel)]="address" id="address" name="address" type="address" placeholder="123 Main St" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>City</ion-label>
        <ion-input [(ngModel)]="city" id="city" name="city" type="city" placeholder="City" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Country</ion-label>
        <ion-select [(ngModel)]="country"  name="country" placeholder="Canada" required>
            <ion-select-option value="CA">Canada</ion-select-option>
            <ion-select-option value="US">USA</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf='country=="CA"'>
          <ion-label>Province</ion-label>
          <ion-select [(ngModel)]="province" name="province" placeholder="AB" required>
              <ion-select-option value="AB">AB</ion-select-option>
              <ion-select-option value="BC">BC</ion-select-option>
              <ion-select-option value="MB">MB</ion-select-option>
              <ion-select-option value="NB">NB</ion-select-option>
              <ion-select-option value="NL">NL</ion-select-option>
              <ion-select-option value="NS">NS</ion-select-option>
              <ion-select-option value="ON">ON</ion-select-option>
              <ion-select-option value="PE">PE</ion-select-option>
              <ion-select-option value="QC">QC</ion-select-option>
              <ion-select-option value="SK">SK</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item *ngIf='country!=="CA"'>
          <ion-label>State</ion-label>
          <ion-select [(ngModel)]="province" name="province" placeholder="AB" required>
              <ion-select-option value="AL">AL</ion-select-option>
              <ion-select-option value="AZ">AZ</ion-select-option>
              <ion-select-option value="AR">AR</ion-select-option>
              <ion-select-option value="CA">CA</ion-select-option>
              <ion-select-option value="CO">CO</ion-select-option>
              <ion-select-option value="CT">CT</ion-select-option>
              <ion-select-option value="DE">DE</ion-select-option>
              <ion-select-option value="FL">FL</ion-select-option>
              <ion-select-option value="GA">GA</ion-select-option>
              <ion-select-option value="ID">ID</ion-select-option>
              <ion-select-option value="IL">IL</ion-select-option>
              <ion-select-option value="IN">IN</ion-select-option>
              <ion-select-option value="IA">IA</ion-select-option>
              <ion-select-option value="KS">KS</ion-select-option>
              <ion-select-option value="KY">KY</ion-select-option>
              <ion-select-option value="LA">LA</ion-select-option>
              <ion-select-option value="ME">MD</ion-select-option>
              <ion-select-option value="MA">MA</ion-select-option>
              <ion-select-option value="MI">MI</ion-select-option>
              <ion-select-option value="MN">MN</ion-select-option>
              <ion-select-option value="MS">MS</ion-select-option>
              <ion-select-option value="MO">MO</ion-select-option>
              <ion-select-option value="MT">MT</ion-select-option>
              <ion-select-option value="NE">NE</ion-select-option>
              <ion-select-option value="NV">NV</ion-select-option>
              <ion-select-option value="NH">NH</ion-select-option>
              <ion-select-option value="NJ">NJ</ion-select-option>
              <ion-select-option value="NM">NM</ion-select-option>
              <ion-select-option value="NY">NY</ion-select-option>
              <ion-select-option value="NC">NC</ion-select-option>
              <ion-select-option value="ND">ND</ion-select-option>
              <ion-select-option value="OH">OH</ion-select-option>
              <ion-select-option value="OK">OK</ion-select-option>
              <ion-select-option value="OR">OR</ion-select-option>
              <ion-select-option value="PA">PA</ion-select-option>
              <ion-select-option value="RI">RI</ion-select-option>
              <ion-select-option value="SC">SC</ion-select-option>
              <ion-select-option value="SD">SD</ion-select-option>
              <ion-select-option value="TN">TN</ion-select-option>
              <ion-select-option value="TX">TX</ion-select-option>
              <ion-select-option value="UT">UT</ion-select-option>
              <ion-select-option value="VT">VT</ion-select-option>
              <ion-select-option value="VA">VA</ion-select-option>
              <ion-select-option value="WA">WA</ion-select-option>
              <ion-select-option value="WV">WV</ion-select-option>
              <ion-select-option value="WI">WI</ion-select-option>
              <ion-select-option value="WY">WY</ion-select-option>
          </ion-select>
      </ion-item>
      
      <ion-item>
          <ion-label>Postal Code/ZIP</ion-label>
          <ion-input [(ngModel)]="postalCode" id="postalCode" name="postalCode" type="Postal" placeholder="A0A 0A0" required></ion-input>
        </ion-item>
  </div>



  <div padding class="form-row">
          <div id="cardElement">
              <!-- A Stripe Element will be inserted here. -->
          </div>
      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
  </div>
  <br>
  <div text-center>
    <ion-button shape="round" type="submit">Submit Payment</ion-button>
  </div>
  

</form>

<!-- 
    <label>Signup for just $14.99 per month
  </label>
  
  <div>
      <div #cardForm>
          // A Stripe Element will be inserted here. 
        </div>
        <div id="card-errors" role="alert"></div>
    </div>
  
    <button class="button is-success">Submit Payment</button>
-->

<!--
<ion-button (click)="openHandler()">
  Subscribe for $15/m
</ion-button>


<form action="/" method="post" id="payment-form">
    
  <div class="form-row">
    <div id="card-element"> 
      //a Stripe Element will be inserted here. 
    </div>

    //Used to display Element errors
    <div id="card-errors" role="alert"></div>
  </div>

<ion-button>Add Card</ion-button>
  
</form>

-->