<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div>
    <ion-list no-lines>

      <ion-item>
        <ion-label>Notify me at: </ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="notifyTime" (ionChange)="timeChange()"></ion-datetime>
      </ion-item>

      <ion-item>
          <ion-label>on the following days:</ion-label>
      </ion-item>

      <ion-item *ngFor="let day of days">
          <ion-label>{{day.title}}</ion-label>
          <ion-checkbox [(ngModel)]="day.checked" color="primary"></ion-checkbox>
      </ion-item>

  </ion-list>
  </div>
  
  <!--This is for testing only-->
  <div *ngIf="false">
    <ion-button (click)="testNotification1()">Notification in 5 s</ion-button>
    <ion-button (click)="testNotification2()"color="tertiary">Notification in 5 min</ion-button>
    <ion-button (click)="testCheckNotifications()" color="warning">Check Existing Notifications</ion-button>
  </div>

</ion-content> 


<ion-footer text-center>

  <ion-button expand="block" (click)="addNotifications()" color="primary">Update Notification Schedule</ion-button>
  <p>or</p>
  <!--<ion-button expand="block" (click)="testCheckNotifications()" color="warning">Check Existing Notifications</ion-button>-->
  <ion-button expand="block" (click)="cancelAll()" color="danger">Reset Notifications</ion-button>

</ion-footer>