<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div text-left *ngIf=!updatePayment>
        <ion-list>
          <ion-item> <!-- sub status, renewal date, last payment -->
            <ion-label>Subscription Status: </ion-label>
            <div item-content>{{ status }}</div>
          </ion-item>
          <ion-item>
            <ion-label>Renewal Date: </ion-label>
            <div item-content>{{ periodEnd }}</div>
          </ion-item>
          <ion-item>
            <ion-label>Email: </ion-label>
            <div item-content>{{ email }} </div>
          </ion-item>
        </ion-list> 
      </div>

      <div padding vertical *ngIf=updatePayment>
          <h1 text-center>Subscribe to Ureaqa</h1>
          <p>All plans include a 40-day free trial and can be cancelled at any time.</p>
          <ion-grid no-padding>
            <ion-row>
              <ion-col>
                <div> 
                  <h4 text-center><b>Basic Plan $14.99/mo</b></h4>
                </div>
              </ion-col>

              <ion-col>
                <div>
                  <h4 text-center><b>Value Plan $149.90/yr</b></h4>
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-center"> <!--class="ion-align-items-start"-->

              <ion-col>
                <div>
                  <b><p text-center>Training seasonally?</p></b>
                  <b text-center>With the basic plan, we'll send you a test kit every month for the whole season.</b>
                </div>
              </ion-col>

              <ion-col>
                <div>
                  <p><b text-center>Training all year?</b></p>
                  <p><b text-center>Save with the value plan! You'll get a test kit every month for a whole year.</b></p>
                </div>
              </ion-col>
              
            </ion-row>
          </ion-grid>
          <app-subscription-payment></app-subscription-payment>
      </div>

      

</ion-content>
<ion-footer *ngIf=!updatePayment>
  <div>
    <p>Contact us anytime at support@ureaqa.com for help managing your subscription</p>
  </div>
</ion-footer>
