<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Profile
        </ion-title>
      </ion-toolbar>
</ion-header>


<ion-content padding text-center>
  
  <h3>{{ (profile | async)?.firstName }} {{ (profile | async)?.lastName }} </h3>
  <div *ngIf="avatarExists">
    <ion-avatar>
      <img [src]="getAvatar()">
    </ion-avatar>
  </div>
  <div *ngIf="!avatarExists">
    <ion-icon name="contact" color = "grey" style="zoom:8.0;"></ion-icon>
  </div>
  
  <div text-left>
    <ion-list>
      <ion-item>
        <ion-label>Username: </ion-label>
        <div item-content>{{ (profile | async)?.username }}</div>
      </ion-item>
      <ion-item>
        <ion-label>Email Address: </ion-label>
        <div item-content>{{ (profile | async)?.email }}</div>
      </ion-item>
      <ion-item (click)="presentModal()" detail>
        <ion-label>
          Notification Settings
        </ion-label>
      </ion-item>
      <ion-item (click)="subModal()" detail>
          <ion-label>
            Ureaqa Subscription Settings
          </ion-label>
        </ion-item>
      <ion-item>
        <ion-label>Current Weight: </ion-label>
        <div item-content>{{ currentWeight }} lbs</div>
      </ion-item>
    </ion-list> 
    <!--<app-subscription-payment></app-subscription-payment>-->
  </div>
    
  <div *ngIf="showForm">
      <form [formGroup]="updateWeightForm" (submit)="updateWeight()">
          <ion-item>
            <ion-label floating>Weight (lbs)</ion-label>
            <ion-input formControlName="weight" type="number"></ion-input>
          </ion-item>
          <ion-button expand="block" type="submit" [disabled]="!updateWeightForm.valid">Update Weight</ion-button>
      </form>
  </div>
  
</ion-content>

<ion-footer no-shadow *ngIf="!showForm">
    <div>
      <ion-toolbar position="bottom">
          <ion-button expand="block" (click)="toggleForm()">Update Weight</ion-button>
      </ion-toolbar>
    </div>    
</ion-footer>

 <!--

  Old Stuff that I don't want to get rid of yet

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>

    button ion-button outline color="primary" (click)="openImagePickerCrop()">Change Picture</button>
    -->
