<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf='LoginAttempt==true'>
    <div padding>
        <p> </p>
      </div>
      
  
  <ion-item>
      <ion-label floating>Email Address</ion-label>
      <ion-input type = "text" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
       <ion-label floating>Password</ion-label>
       <ion-input type = "password" [(ngModel)]="user.password"></ion-input>
     </ion-item>
 
     <div padding>
       <p> </p>
     </div>
 

     <ion-button (click)="login(user)">Login</ion-button>
     <!--
     <ion-grid>
         <ion-row>
           <ion-col>
             <ion-button expand="block" (click)="login(user)">Login</ion-button>
           </ion-col>
           <ion-col>
              <ion-button expand="block" color="light" (click)="register()">Register</ion-button>
           </ion-col>
         </ion-row>
     </ion-grid>
     -->
 
     <div padding></div>
 
     <div *ngIf="!passwordReset">
         <p ion-item no-lines (click)="resetPassword(user)">Forgot Password?</p>
     </div>
 
     <div *ngIf="passwordReset">
         <ion-item>
             <ion-label floating>Email Address</ion-label>
             <ion-input type = "text" [(ngModel)]="user.email"></ion-input>
         </ion-item>
         <ion-button expand="block" block (click)="sendPasswordEmail(user.email)">Reset Password</ion-button>
      
     </div>
 
 </ion-content>

 <ion-content text-center padding *ngIf='LoginAttempt==false'>
    
    <div padding>
        <p> </p>
      </div>
      <h2>Wecome to Ureaqa</h2>
      <div padding>
          <p> </p>
        </div>
        
        <div padding>
            <p> </p>
          </div>
          <div padding>
              <p> </p>
            </div>
      <ion-grid>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size=6>
              <ion-button expand="block" (click)="register()">New User</ion-button>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col>
                <p>or</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col></ion-col>
            <ion-col size=6>
              <ion-button expand="block" fill="outline" (click)="loginAttempt()">Returning User</ion-button>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
      </ion-grid>   
  
 </ion-content>


 
 