<ion-app>
  <ion-split-pane>
    
    <ion-menu>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <!--<ion-icon slot="start" [name]="p.icon"></ion-icon>-->
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          </ion-list>
          <ion-item padding="vertical" lines="none">
              <ion-button expand="block" fill="outline" menuClose (click)="logout()">Logout</ion-button>
          </ion-item>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>

