<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Ureaqa Mobile
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding text-center>
  
<ion-slides scrollbar="false" pager="true" [options]="slideOpts">
  <ion-slide padding-bottom>
      
    <ion-grid>
      <ion-row>
          <div padding-vertical><br></div>
      </ion-row>
      <ion-row justify-content-center>
          <ion-icon name="hand" color = "grey" style="zoom:8.0;"></ion-icon>
      </ion-row>
      <ion-row justify-content-center>
          <h1>Welcome to Ureaqa!</h1>
      </ion-row>
      <ion-row>
          <p>We want to make hydration data accessible, so we made this app to make understanding your hydration easy.</p>
      </ion-row>
    </ion-grid>
     
  </ion-slide>

  <ion-slide padding-bottom>
    <ion-grid>
        <ion-row>
            <div padding-vertical><br></div>
        </ion-row>
      <ion-row justify-content-center>
          <ion-icon name="help" color = "grey" style="zoom:8.0;"></ion-icon>
      </ion-row>

      <ion-row justify-content-center>
          <h1 >How does it work?</h1>
      </ion-row>
      <ion-row justify-content-center>
          <p>Ureaqa does hydration testing through urine analysis. Sign up for a free trial, and you'll get a test kit with urine strips to get started.</p> 
          <p>We'll walk you through the test process, and then interpret the results for you! You'll get a custom hydration plan, 
            so that you know exactly what you need to do to rehydrate.</p>
      </ion-row>
    </ion-grid>

  </ion-slide>


  <ion-slide padding-bottom>
    <ion-grid>
        <ion-row>
            <div padding-vertical><br></div>
        </ion-row>
      <ion-row justify-content-center>
          <ion-icon name="flag" color = "grey" style="zoom:8.0;"></ion-icon>
      </ion-row>

      <ion-row justify-content-center>
          <h1 >Let's get started!</h1>
      </ion-row>
      <ion-row>
          <p>Almost there! Create your profile, then check out your subscription settings to start a 40-day free trial!</p>
      </ion-row>
    </ion-grid>

  </ion-slide>


  <ion-slide padding-bottom>

    <form padding-bottom [formGroup]="createProfileForm" (submit)="createProfile()">
        <h1 padding-vertical>Create your Profile</h1>
      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
          
      <ion-item>
        <ion-label floating>First Name</ion-label>
        <ion-input formControlName="firstName" type="text"></ion-input>
      </ion-item>
          
      <ion-item>
        <ion-label floating>Last Name</ion-label>
        <ion-input formControlName="lastName" type="text"></ion-input>
      </ion-item>
  
      <ion-item>
          <ion-label floating>Current Weight (lbs)</ion-label>
          <ion-input formControlName="weight" type="number"></ion-input>
      </ion-item>
      <div padding-bottom><br></div>
      
      <ion-button expand="block" size="large" type="submit" [disabled]="!createProfileForm.valid">Create Profile</ion-button>
      <div padding-vertical><br></div>
  
    </form>

  </ion-slide>
</ion-slides>


</ion-content>
