<ion-header>
  <ion-toolbar color="primary">
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label floating>Email Address</ion-label>
        <ion-input type = "text" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
         <ion-label floating>Password</ion-label>
         <ion-input type = "password" [(ngModel)]="user.password"></ion-input>
       </ion-item>

       <ion-button (click)="register(user)">Register</ion-button>

</ion-content>
