<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ureaqa Mobile
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding text-center>
    <h2>Ureaqa Score: {{ureaqaScore}}{{unknownMsg}}%</h2>
    <h4>{{hyd_desc}}</h4>
    <div style="display: block" *ngIf="graph">
        <canvas baseChart
                    [data]="doughnutChartData"
                    [colors]="doughnutChartColors"
                    [chartType]="doughnutChartType"
                    [options]="doughnutChartOptions">
        </canvas>
    </div>
  
    
    <h6>Suggested Water Intake:</h6>
    <H1>{{waterIntake}} {{unit}} </H1> <!-- <sup><ion-icon name="ios-help-circle-outline"  style="zoom:0.7;"></ion-icon></sup> -->
    <div *ngIf="showResults">
        <p>{{hyd_msg}}</p>
    </div>
    <div *ngIf="!showResults">
        <h5>{{hyd_msg}}</h5>
    </div>
    <div padding-vertical>

      <ion-button expand="block" (click)="newTest()">Add New Test</ion-button>
      <!--href="/new-test" (click)="newTest()" for analytics also routerDirection="forward"-->
    </div>
    
  
    <div *ngIf="showResults">
      <h2 >Previous Results</h2>
    </div>
    <ion-card *ngFor="let results of testList | async">
      <ion-card-header>
        {{ results.time | date }}
      </ion-card-header>
      <ion-card-content>
        <p>Ureaqa Score: {{ results.hydration }} </p>
        <p>Specific Gravity: {{ results.sg }}</p> <!--HAWT-->
      </ion-card-content>
    </ion-card>
  
  </ion-content>
  
  <ion-footer no-shadow *ngIf="false"><!--*ngIf="!showForm"-->
      <div>
        <ion-toolbar position="bottom">
          <ion-button expand="block" [disabled]="true">Remind Me (coming soon)</ion-button>      
        </ion-toolbar>
      </div>    
  </ion-footer>
  